.block__stories{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 610px;
    min-height: 178px;
    width: 100%;
    transition: .4s;
}

.css-18lrjg1-MuiCircularProgress-root{
   text-align: center;
}

.over{
    height: 177px;

    width: 100%;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    color: white;


    overflow: hidden;
    background: rgba(75, 75, 75, 0.50);

    background-size: cover;

    transition: .3s;
}

.story__item:hover .over{
    background: rgba(75, 75, 75, 0.65);
}

.user_story-name{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
    width: 80px;
}

.person_img_stor{
    position: absolute;
    top: 15px;
    left: 15px;
}


.person_img_stor div{
    border: 3px solid #1877f2;
    padding: 3px 3px 3px 3px;
    border-radius: 14px;
}

.person_img_stor img{
    border-radius: 11px;
}

.img_story-pers{
    margin-right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block_name{
    position: absolute;
    bottom: 22px;
    left: 11%;
    z-index: 10;
}


.story_img{
    width: 113px;
    height: 178px;
    border-radius: 10px;
    display: block;
}

.story__item{
    margin-right: 16px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(0,0,0, 1);
    cursor: pointer;
    transition: .3s;

}

.story__item:last-child{
    margin-right: 0;
}

.block_add{

    bottom: 0;
    right: 30%;
}


.block_add{
    border: 3px solid #fff;
    border-radius: 11px;
    padding: 4px;
    width: 25px;
    height: 25px;
    z-index: 10;
    margin: 0 auto;
    cursor: pointer;
}

.block_add div{
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.title_story{
    margin: 6px 0 0 0;
    color: #fff;
    text-align: center;
}

.block_stories_box{
    position: absolute;
    bottom: 23px;
    text-align: center;
    right: 24%;
    z-index: 10;
}