.top_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.top_info div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.post_Username{
    text-decoration: none;
    font-weight: 600;
    color: #1d3a5f;
}

.post_Username:hover{
    text-decoration: underline;

}



.box_text-post{
    align-items: flex-start;
    display: flex;
    text-align: left;
    flex-direction: column;
}


.box_text-post h5{
    color:#1d3a5f;
    font-size: 15px;
    line-height: 22px;
}



.bottom__posts{

    display: flex;
    justify-content: space-around;
    padding: 13px 13px 6px 13px;
}

.bottom__posts div{
    cursor: pointer;
    transition: .3s;
    display: flex;
    justify-content: space-between;

}
.bottom__posts div p{
    margin-left: 13px;
    font-weight: 500;
    color: #183354;

}


.box_text-post p{
    font-size: 13px;
    color: #b7c0ce;
    line-height: 18px;
}

.item_post-box{
    max-width: 520px;
    width: 100%;

    margin: 0 auto 15px auto;
}

.block_info-post{
    padding: 13px;
}

.dots_block{
    width: 15px;
    padding: 2px 9px;
    border-radius: 5px;
}

.text_info{
    text-align: left;
    color: #566b87;

}


.img_post{
    max-width: 500px;
    width: 100%;
    height: 100%;
    user-select: none;
}