@import "../../assets/styleGlobal";

.profile_top{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 47px;
}


.img_profile_box{
  width: 150px;
  height: 150px;
  display: block;
  margin-right: 0;
}


.profile_box-img{
  border: 2px solid $defColor;

  border-radius: 100%;
  padding: 3px;
  text-align: center;
  margin-right: 6px;
}

.follow_title_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
}

.profile_box_name{
  font-size: 18px;
}

.post_container-profile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 690px;
}





.no_Post{
  text-align: center;
  color: $defColor;
}


.profile_text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile_folling_box{
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: 10px 0;
}
.img_profile_box{

  img{
    margin-right: 0;
  }
}

.profile_bottom{
  width: 690px;
  border-top: 1px solid $defColor;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  font-size: 13px !important;


}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: $defColor !important;
}