.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3f5877;
}

.left_side img{
    margin-right: 12px;
}

.right_headr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    background: #fcfcfd;
    padding: 15px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.title_name{
    margin: 0;
    font-size: 17px;
    color: #1d3a5f;
}

.box_input_header{
    border: 1px solid transparent;
    background: #f4f5f8;
    padding: 9px 10px 8px 10px;
    border-radius:  7px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    width: 240px;

    transition: .4s;
}


.box_input_header:hover{
    background: rgba(161, 161, 161, 0.2);
}

.box_input_header input {
    border-radius: 0;
    border: 0;
    background: 0;
    outline: none;

}

.box_input_header input::placeholder{
    color: #aeb7c5;
}


.btn{
    background: #1877f2;
    outline: none;
    border: 0;
    cursor: pointer;
}

.btn_header div{
    display: flex;
    padding-bottom: 2px;
}

.btn_header{
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px 14px;
    width: 85px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.user_avatar-header{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}



















