.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_side{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3f5877;
}


.right_headr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    background: #fcfcfd;
    padding: 15px 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.title_name{
    margin: 0;
    font-size: 19px;

    color: #1d3a5f;
}

.box_input_header{
    border: 1px solid transparent;
    background: #f4f5f8;
    padding: 9px 10px 8px 10px;
    border-radius:  7px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    width: 240px;

    transition: .4s;
}

.avatar_box{
    display:flex;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
    transition: ease-in .3s;
    cursor:pointer;
}

.avatar_box:hover{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    border-radius: 100%;
}

.he{
    width: 41px;
    height: 41px;
    border-radius: 10px;
    margin-right: 12px;
    display: block;
    box-shadow: 0 0 6px rgba(24, 119, 242, 0.5);
}

.box_input_header:hover{
    background: rgba(161, 161, 161, 0.2);
}

.box_input_header input {
    border-radius: 0;
    border: 0;
    background: 0;
    outline: none;

}

.box_input_header input::placeholder{
    color: #aeb7c5;
}


.btn{
    background: #1877f2;
    outline: none;
    border: 0;
    cursor: pointer;
}

.btn_header div{
    display: flex;
    padding-bottom: 2px;
}

.btn_header{
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px 14px;
    width: 85px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.user_avatar-header {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 0;
    display: block;
    
}

.user_avatar-header.img{
    margin-right: 0;
}

.main_box_profile{
    position: relative;


}

.li_menu_profile-box{
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 8px 0;
    cursor: pointer;

}

.name_title_list{
    font-size: 17px;
    font-weight: 600;
    margin-left: 8px;
    letter-spacing: 0.8px;
}

.profile__box_popup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: -1000;
    opacity: 0;
    top: 56px;
    right: 0;
    position:absolute;
    outline: 0;
    background: #fcfcfd;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    width: 118px;
    padding: 5px 8px;
    border-radius: 8px;
    transition: opacity 291ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 194ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.profile__box_popup.activeMenu{
    opacity: 1;
    z-index: 1000;
}


.css-dmmspl-MuiFormGroup-root{
    align-items: center;
    margin: 0;
}


.profile_box-img.header{
    margin-right: 0;

}





