
.img_post_profile{
  display: block;
  width: 225px;
  height: 225px;
  user-select: none;

  position: absolute;
  left: 0;
  object-fit: cover;
  top: 0;

}

.profile_post_item{
  position: relative;
  margin: 0 7px 10px 0;

  a{
    text-decoration: none;
  }

  &:nth-child(3n){
    margin-right: 0;
  }

}

.count{
    color: #fff;

}

.box_post_profile{
  position: relative;
  width: 225px;
  height: 225px;
  overflow: hidden;
}

.overlay{
  position: absolute;
  transition: 0.5s ease;
  width: 225px;
  height: 225px;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(56, 56, 56, 0);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: rgba(121, 175, 248, 0.5);

    div{
      opacity: 1;
    }
  }

  div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease;
    margin-right: 10px;

    p{
      margin-right: 2px;
    }
    &:last-child{
      margin-right: 0;
    }

    font-size: 18px;
  }
}
